.TodoSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 15px 15px 0 0;
  width: 90%;
  max-width: 500px;
  min-width: 350px;
  height: 64px;
  border: 3px solid var(--P-Dark);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  background-color: #f9fbfc;
  color: #1e1e1f;
  -webkit-box-shadow: 0px 2px 10px var(--P-Dark);
  -moz-box-shadow: 0px 2px 10px var(--P-Dark);
  box-shadow: 0px 2px 10px var(--P-Dark);
}

body.dark .TodoSearch {
  background-color: #1e1e1f;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 10px var(--P-Dark);
  -moz-box-shadow: 0px 2px 10px var(--P-Dark);
  box-shadow: 0px 2px 10px var(--P-Dark);
}

.TodoSearch::-webkit-input-placeholder {
  font-weight: 700;
}

.TodoSearch::-moz-placeholder {
  font-weight: 700;
}

.TodoSearch:-ms-input-placeholder {
  font-weight: 700;
}

.TodoSearch::-ms-input-placeholder {
  font-weight: 700;
}

.TodoSearch:-moz-placeholder {
  font-weight: 700;
}

.TodoSearch::placeholder {
  font-weight: 700;
}

.TodoSearch:focus {
  outline-color: var(--S-Dark);
}
