header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: large;
  background-color: var(--bg-primary);
  color: var(--color);
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.hader-logo {
  cursor: default;
}

body.dark header {
  background-color: var(--P-Dark);
}

.mode {
  po
  font-size: 1.5em;
  cursor: pointer;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transform: rotate(o);
  -moz-transform: rotate(o);
  -ms-transform: rotate(o);
  -o-transform: rotate(o);
  transform: rotate(o);
}

.moon {
  color: rgb(0, 8, 43);
}

.moon:hover {
  color: rgb(170, 197, 221);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.sun {
  color: yellow;
}

.sun:hover {
  color: rgb(228, 196, 18);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
