header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: large;
  background-color: var(--bg-primary);
  color: var(--color);
}

body.dark header {
  background-color: var(--P-Dark);
}

.toggle-mode {
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #fff;
  position: relative;
}
.toggle-mode:before {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: rgba(241, 241, 241, 0.698);
  transition: all 0.3s;
}

.toggle-mode:hover:before {
  width: 100%;
}

.toggle-mode:before {
  left: 0;
}
